<div class="container px-5 gy-5" style="padding-top: 40px">
    <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">NO2</th>
      <th scope="col">O3</th>
      <th scope="col">PM10</th>
      <th scope="col">PM2.5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Density</th>
      <td>{{polutant_data.no2.density}}</td>
      <td>{{polutant_data.o3.density}}</td>
      <td>{{polutant_data.pm10.density}}</td>
      <td>{{polutant_data.pm25.density}}</td>
    </tr>
    <tr>
      <th scope="row">Quality</th>
      <td>{{polutant_data.no2.quality}}</td>
      <td>{{polutant_data.o3.quality}}</td>
      <td>{{polutant_data.pm10.quality}}</td>
      <td>{{polutant_data.pm25.quality}}</td>
    </tr>
  </tbody>
</table>
</div>


<div class="container px-5 gy-5" style="padding-top: 40px">
    <img src="./table.jpg" alt="Reference" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;">
</div>
