
<div class="container px-5 gy-5" style="padding-top: 40px">
    <table class="table table-striped table-dark ">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">CC1</th>
      <th scope="col">CC2</th>
      <th scope="col">CC3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Temperature</th>
      <td>{{data.cc1_temp}}</td>
      <td>{{data.cc2_temp}}</td>
      <td>{{data.cc3_temp}}</td>
    </tr>
    <tr>
      <th scope="row">Humidity</th>
      <td>{{data.cc1_humidity}} %</td>
      <td>{{data.cc2_humidity}} %</td>
      <td>{{data.cc3_humidity}} %</td>
    </tr>
    <tr>
      <th scope="row">feels Like</th>
      <td>{{data.cc1_feels_like}}</td>
      <td>{{data.cc2_feels_like}}</td>
      <td>{{data.cc3_feels_like}}</td>
    </tr>
    <tr>
      <th scope="row">Min Temp</th>
      <td>{{data.cc1_min_temp}}</td>
      <td>{{data.cc2_min_temp}}</td>
      <td>{{data.cc3_min_temp}}</td>
    </tr>
        <tr>
      <th scope="row">Max temp</th>
      <td>{{data.cc1_max_temp}}</td>
      <td>{{data.cc2_max_temp}}</td>
      <td>{{data.cc3_max_temp}}</td>
    </tr>
  </tbody>
</table>
</div>
